<div id="<%= dom_id post %>">
  <p>
    <strong>Titulo:</strong>
    <%= post.titulo %>
  </p>

  <p>
    <strong>Pregunta:</strong>
    <%= post.pregunta %>
  </p>

  <p>
    <strong>Respuesta:</strong>
    <%= post.respuesta %>
  </p>

</div>
